*{
  box-sizing: border-box;
  
}
ul{
  padding:0;
}

html,body {
  height:100%;
  width:100%;
  font-family: poppins,Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  /* The <body> element has a default margin of 8px
     on all sides. This removes the default margins. */
  margin:0;
  /* padding-bottom:1200px; */
  color: #043158;
}
.container{
   width:100%;
   height:100%;
   position:relative;
 
}

a:link{ 
  text-decoration: none; 
}
/* <p> elements have a default margin on the top
   and bottom. This removes the default margins. */
p {
  margin: 0;
}
h3{
  margin:0px;
}
button {
  cursor: pointer;
}

.nav{
  /* background-color: crimson; */
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  padding: 0.2vw 2vw;
  border-bottom: 1px solid #757575;
  /* flex-wrap: wrap; */
}
.nav i{
  font-weight:700;
  font-size:1.34vw;
  display:none;
}
.brand-logo{
  width:9vw;
}

.nav-right-section{
  /* background-color: royalblue; */
  display: flex;
  flex-direction: row;
  gap:4vw;
  /* justify-content: start; */
  list-style: none;
  /* margin-right: 20px;  */
}

.header-link{
  /* margin-right:35px;
  cursor: pointer;
  font-size:15px; */
}

.hero-section{
  background-repeat: no-repeat;
  background-size: cover;
   width:100%;
  /*height: 5vh;
  padding-top:10px; */
  position:relative;
}
.banner-Heading{
position: absolute;
left: 80px;
top:200px;
right:600px;

}
.invisible{
  display:none;
}
.banner-image{
  width:100%;
}

.what-is-para{
  display:flex;
  flex-direction: row;
  align-items:center;
  margin-top:70px;
}
.arrow{
  width:30px;
  /* color:#043158; */
}
.Loren-heading{
  font-size:30px;
  margin-left:10px;
  /* color:#043158; */
}

.sub-heading{
  /* color:#043158; */
  margin-top:10px;
  font-size:15px;
}

.grid-image{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  /* column-gap:15px;
  row-gap:15px; */

}
.jar-image{
 border-style:solid;
 border-width: 2px;
 border-color:#043158;

}
.jar-div{
  display:flex;
  flex-direction:column;
  justify-content: center; 
   margin-right:20px;
   margin-top:30px;
}
.jar-heading-text{
  margin-top:10px;
  margin-bottom:10px;
  color:#a51e25;
  text-align: center;
}
.jar-sub-heading{
  /* color:#043158; */
  text-align: center;

}

.grid-image-and-text{
  display:grid;
  grid-template-columns: 1fr 400px;
  column-gap: 5px;
  margin-top:20px;
}
.grid-image-and-text-2{
  display:grid;
  grid-template-columns:400px 1fr;
  column-gap: 5px;
  margin-top:70px;
}

.image-and-text-paragraph{
  /* width:800px; */
  margin-left:20px;
  /* color:#043158; */
}
.right-spacing{
  /* padding-right:55px; */
  max-width: 90%;
}
.image-and-text-heading{
  font-size:30px;
  color:#a51e25;
  font-weight:600;
}
.image-and-text-div{
  
}

.image-and-text-sub-heading{
  /* width:850px; */
  margin-bottom:20px;
}

/* .yoga-image-div-container{
 
} */
img.yoga-image{
  width: 325px;
  /* height: 300px; */
  object-fit:none;
  /* margin-right:20px; */ 
  
}

.footer-red-line{
  margin-top:100px;
  width:100%;
  height:2px;
  background-color: #a51e25;
}

.trademark-text{
  /* color:#043158; */
  margin-top:60px;
  margin-bottom:60px;
  text-align: center;
}

.footer-link{
  list-style: none;
  text-align: center;
  color:#043158;
  font-weight:900;
  font-size:14px;
}
.policy-footer-section{
  display:grid;
  grid-template-columns: 150px 150px 150px 150px;
  justify-content: center;
}



/* RESPONSIVE CSS for Small Devices*/
@media(max-width:600px){
  .brand-logo{
    width:30vw; 
  }
  .nav{
    background-color:crimson;
  }
  .nav i{
    font-weight:700;
    font-size:6vw;
    display:block;
  }
  .nav li{
    display: none;
    font-size: 4vw;
  }
}
