*{
  box-sizing: border-box;
}
ul{
  padding:0;
}

html,body {
  height:100%;
  width:100%;
  font-family: poppins,Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  /* The <body> element has a default margin of 8px
     on all sides. This removes the default margins. */
  margin:0px;
  padding:0px;
  /* padding-bottom:1200px; */
  color: #043158;
}
.container{
   width:100%;
   height:100%;
   padding:0.5vw 1.6vw;
   position:relative;
 
}
.bottom-container{
  width:100%;
  /* height:100%; */
  padding:0.5vw 1.6vw;
  position:absolute;
  top:95vw;

}

a:link{ 
  text-decoration: none; 
}
/* <p> elements have a default margin on the top
   and bottom. This removes the default margins. */
p {
  margin: 0;
}
h3{
  margin:0px;
}
button {
  cursor: pointer;
}

.nav{
  /* background-color: crimson; */
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  padding: 0.2vw 2vw;
  border-bottom: 1px solid #757575;
  /* flex-wrap: wrap; */
}
.nav i{
  font-weight:700;
  font-size:1.34vw;
  display:none;
}
.brand-logo{
  width:9vw;
}

.nav-right-section{
  /* background-color: royalblue; */
  display: flex;
  flex-direction: row;
  gap:4vw;
  /* justify-content: start; */
  list-style: none;
  /* margin-right: 20px;  */
}


.hero-section{
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  position:relative;
}

.banner-Heading{
position: absolute;
left: 4vw;
top:8vw;
right:60vw;

.banner-text{
  font-size:2.2vw;
}
.cool{
  color:#a51e25;
}

.call-to-action-btn{
  padding: 1vw 2vw;
  border-style:none;
  background-color: #a51e25;
  font-size:1.3vw;
  border-radius:3px;
  color:rgb(242, 218, 218);
  
}

}
.invisible{
  display:none;
}
.banner-image{
  width:100%;
}

.what-is-heading{
  display:flex;
  flex-direction: row;
  align-items:center;
  margin-top:3vh;
  padding-left:2vw;
}
.arrow{
  width:2.3vw;
  /* color:#043158; */
}
.Loren-heading{
  font-size:2.3vw;
  font-weight:600;
  padding-left:1vw;
  color:#043158;
}

.sub-heading{
  color:#043158;
  margin-top:3vh;
  padding-left:2.2vw;
  font-size:1.2vw;
}

.grid-row{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  column-gap:2vw;

}

.jar-image{
 width:100%;
 padding:2vw;
 /* border-style:solid;
 border-width: 2px;
 border-color:#043158; */

}
.jar{
  margin:2vh 0px;
  text-align: center;
}
.jar-heading{
  color:#a51e25;
}
.jar-sub-heading{
  text-align: center;
  margin: 0.8vw 0vw;
}

.grid-image-and-text{
  /* background-color:crimson; */
  display:grid;
  grid-template-columns: 1fr 30vw;
  column-gap: 1.6vw;
  margin-top:2.8vh;
}
.image-and-text-div{
  padding:2.3vw;
}

.yoga-image-div-container{
 width:100%;
} 
img.yoga-image{
  padding-top:7.2vh;
  height:45vh;
  width:90%;
  object-fit: fill;
}

.invisible-red-line{
  display:none;

}
.yoga-image-div-container-invisible{
  display:none;
}


.grid-image-and-text-2{
  /* background-color:crimson; */
  display:grid;
  grid-template-columns:400px 1fr;
  column-gap: 5px;
  margin-top:70px;
}

.image-and-text-paragraph{
  /* width:800px; */
  margin-left:2vw;
  /* color:#043158; */
}
.right-spacing{
  /* padding-right:55px; */
  width: 90%;
}
.image-and-text-heading{
  font-size:30px;
  color:#a51e25;
  font-weight:600;
}


.image-and-text-sub-heading{
  /* width:850px; */
  margin-bottom:20px;
}


.footer-red-line{
  margin-top:6vw;
  width:100%;
  height:0.5vh;
  background-color: #a51e25;
}

.trademark-text{
  /* color:#043158; */
  margin:4vh 0vh;
  text-align: center;
  font-size:0.9rem;
}

.policy-footer-section{
  display:grid;
  grid-template-columns: 150px 150px 150px 150px;
  justify-content: center;
}

.footer-link{
  list-style: none;
  text-align: center;
  color:#043158;
  font-weight:900;
  font-size:0.8rem;
  margin-bottom:2vh;
}


/*
Key Points for Responsive
1)CSS Flexbox ex:-display:flex; gap;flex-wrap:wrap etc.
2)CSS Units ex: - px,%,vw,vh,vmax,vmin,em,rem(rootem)
3)Responsive Typography ex:- font-size:4vw
4)Mobile-First Approach - check simaltaniously
5)Flexible Images and Media - png,svg,jpeg, photoshop
*/

/* RESPONSIVE CSS for Small Devices*/
@media(max-width:600px){
  body{
    padding:2vw;
    /* background-color:crimson; */
    z-index:99;

  }
  .brand-logo{
    width:30vw; 
  }
  .nav{
    background-color:crimson;
  }
  .nav i{
    font-weight:700;
    font-size:6vw;
    display:block;
  }
  .nav li{
    display: none;
    font-size: 4vw;
  }
/*path-take from parent*/
  .banner-Heading{
    padding-left:1vw;
    padding-top:12vw;
    
  }
  .banner-Heading
  .banner-text{
    font-size: 4vw;
  }
  .banner-Heading h4
  {
   display:none;
  }
  .banner-Heading .call-to-action-btn{
    padding: 2vw 4vw;
    border-style:none;
    background-color: #a51e25;
    font-size:2.3vw;
    border-radius:3px;
    color:rgb(242, 218, 218);
  }
  .what-is-heading .arrow{
    width:8vw;
  }
  .what-is-heading .Loren-heading{
    font-size:6vw;
    padding-left:3vw;
  }
  .sub-heading{
    font-size:3vw;
  }
  .grid-row{
    grid-template-columns: 1fr;
  
  }
 .js-grid-image-and-text-2 .grid-image-and-text-2{
    /* background-color:crimson; */
    grid-template-columns: 1fr;
    
  }
  .js-grid-image-and-text .grid-image-and-text{
    grid-template-columns: 1fr;
  }
  .js-grid-image-and-text .grid-image-and-text .yoga-image-div-container-invisible{
    /* background-color:crimson; */
    display:block;
    
  }
  /* .js-grid-image-and-text .grid-image-and-text .yoga-image-div-container-invisible .yoga-image{
    width:-20px;
    background-color: red;
  } */
  .js-grid-image-and-text .grid-image-and-text .yoga-image-div-container-invisible .yoga-image{
    background-color:crimson;
    padding-top:7.2vh;
    height:50vh;
    width:100%;
    
  }
  
  .js-grid-image-and-text .grid-image-and-text .yoga-image-div-container{
    grid-template-columns:1fr ;
      display:none;
  }

  .hero-section .banner-image{
    height:38vh;

  }
  .policy-footer-section{
  display:grid;
  grid-template-columns: 100px 1fr 1fr 100px;
  justify-content: center;
  }
  .invisible-red-line{
    display:block;
  
  }

}
@media (min-width:601px) and (max-width:970px){
  .banner-Heading h4
  {
   display:none;
  }
}
